<h1>Articles of Clothing</h1>

<div>
    <% @clothings.each do |c| %>
<div>
    <h2><%= link_to(c.name, clothing) %></h2>
    <h4><%= link_to("By: #{clothing.outfit.name}", c.outfit) %></h4>
    </div>
    <% end %>
</div>
